.name
{
    position: absolute;
    font-size: 3em;
    text-align: center;
    padding-top: 0.2em;
    top: 5em;
    left: 7.5em;
    width: 10em;
    height: 1.5em;
    background: transparent linear-gradient(180deg, #52C791 0%, #2BAEBD 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.content > input {
    font-size: 10em;
    width: inherit;
}

input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 2px solid #BCE0FD;
    width: 20em;
    /* font */
    color: white;
    line-height: 2.5em;
    font-size: 1em;
}

.create-btn{

}

.assign-btn{

}