img.center{
    margin:1em 0 auto;
    height: 20em;
    width: 20em;
}

.loginbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 5em 0 auto;
    justify-content: center;
    <!-- top: 16.5em; -->
    width: 30em;
    height: 30em;
    border-radius: 10em;
    background: transparent linear-gradient(180deg, #939393 0%, #111111 100%) 0% 0% no-repeat padding-box;

}

.loginbox > form {
    position: relative;
    left: 50%;
    right: 50%;
    height: 50%;
    width: 30%;
    margin: 3.5em 3em auto;
}

input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    width: 20em;
    /* font */
    color: #87CCD8;
    line-height: 2.5em;
    font-size: 1em;
}

.login-btn {
    position: relative;
    width: 10em;
    height: 2em;
    cursor: pointer;
    margin: 0 1em 1em 0.7em;
    color: white;
    background: #888888;
    border-radius: 5em;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

h4 {
    text-align: center;
    color: white;
}

.register-btn {
    position: relative;
    left: 5em;
    width: 8em;
    height: 1.5em;
    cursor: pointer;
    margin: 0 1em 1em 1em;
    color: white;
    background: #888888;
    border-radius: 4em;
    border: none;
    line-height: 1.5em;
    font-size: 1.5em;
}
