.account {
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
}

.main-btn {
    cursor: pointer;
    height: 3em;
    width: 15em;
    margin: 0 1em 0.3em 1em;
    color: white;
    background: transparent radial-gradient(closest-side at 50% 50%, #71C09D 0%, #1C5D3F 100%) 0% 0% no-repeat padding-box;
    border-radius: 5em;
    border: none;
    line-height: 3em;
    font-size: 2em;
}
