.logo {
    cursor: pointer;
    position: absolute;
    left: 1em;
    top: 1em;
}

.registerbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30em;
    height: 36em;
    border-radius: 7em;
    background: transparent linear-gradient(180deg, #939393 0%, #111111 100%) 0% 0% no-repeat padding-box;
}
.registerbox > form {
    height: 90%;
    width: 30%;
    margin-left: 3.5em;
    margin-top: 3.5em;
}

input {
    position: relative;
    justify-self: center;
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    width: 20em;
    /* font */
    color: #87CCD8;
    line-height:2em;
    font-size: 1em;
}

.create-btn {
    position: relative;
    width: 10em;
    height: 2em;
    cursor: pointer;
    margin: 1em 1em 1em 0.7em;
    color: white;
    background: #888888;
    border-radius: 5em;
    border: none;
    line-height: 2em;
    font-size: 2em;
}