.task
{
    margin-top: 0.8em;
    margin-left: 1em;
    font-size: 2em;
    color: white;
}

.play
{
    margin-left:  10em;
    border-radius: 3em;
    justify-content: center;
    width: 3em;
    height: 3em;
    cursor: pointer;
    background: transparent linear-gradient(180deg, #52eab4 0%, #285d72 100%) 0% 0% no-repeat padding-box;
}

.end-btn {
    position: absolute;
    top: 36em;
    left: 25.90em;
    width: 10em;
    height: 2em;
    cursor: pointer;
    color: white;
    background: transparent radial-gradient(closest-side at 50% 50%, #599C9C 0%, #155046 100%) 0% 0% no-repeat padding-box;
    border-radius: 2em;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

i {
    color: #25d62d;
}