body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.page {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, #f2f2f2 0%, #9D9D9D 100%) 0% 0% no-repeat padding-box;
}

.logo {
    cursor: pointer;
    position: absolute;
    left: 1em;
    top: 1em;
}

.account {
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
}

.content
{
    display: flex;
    flex-direction: column;
    width: 80em;
    height: 55em;
    background: #C3C3C3 0% 0% no-repeat padding-box;
    border: 0.2em solid #707070;
    opacity: 1;
}

