.name
{
    position: absolute;
    font-size: 3em;
    text-align: center;
    padding-top: 0.2em;
    top: 5em;
    left: 7.5em;
    width: 10em;
    height: 1.5em;
    background: transparent linear-gradient(180deg, #52C791 0%, #2BAEBD 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.content
{
    position: absolute;
    font-size: 2em;
    top: 11em;
    width: 39em;
    height: 20em;
    padding: 0.5em;
    border: 0.1em solid #707070;

}

.stop-btn
{
    position: absolute;
    top: 82em;
    left: 41em;
    width: 8em;
    height: 8em;
    background: #C3C3C3 0% 0% no-repeat padding-box;
}

.stop-btn > i {
    color: #d90000;
}

.finish-btn
{
    position: absolute;
    top: 82em;
    left: 100em;
    width: 8em;
    height: 8em;
    background: #C3C3C3 0% 0% no-repeat padding-box;
}

.finish-btn > i {
    color: #16d919;
}
